<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>元素拖动</title>
    <script src="./js/require.js"></script>
    <script src="./js/config.js"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main" v-cloak>
        <div class="nav">
            <ul>
                <template v-for="(name, i) in list">
                    <li v-if="includes(name)" class="off" :key="i">{{ name }}</li>
                    <li v-else :key="i" class="on" v-drag="dragQuerySelector" :clone="true" @dragsuccess="success(name, $event)">{{ name }}</li>
                </template>
            </ul>
        </div>
        <div class="drag-box content" data-grade="0">
            <template v-if="dragList.length > 0">
                <template v-for="(data, index) in dragList">
                    <div class="drag-box item" data-grade="1" :data-index="index" :key="index">
                        <p v-for="(name, j) in data" :key="j">
                            <span>{{ name }}</span>
                        </p>
                    </div>
                </template>
            </template>
            <template v-else>
                <p class="tips">请拖动做不的元素到此处</p>
            </template>
        </div>
    </div>
</body>
</html>
